*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272343; ;
}

.calender-container{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 16/10;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 8px 8px #000;
    opacity: 0;
    animation: fadeIn 0.8s ease 0.3s forwards;
     
}

.left,.right{
    width: 50%;
    height: 100%;
    font-size: clamp(1rem,4vw,1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left{
    animation: forLeft 1s ease 0s 1 forwards;
    background-color: #bae8e8;;
}
.right{
    gap: 1rem;
    background-color:  #e3f6f5;
    animation: forRight 1s ease 0s 1 forwards;
     
}

.month{
    text-decoration: underline wavy lightcoral;
}
.date{
    color: red;
    font-size: clamp(2.5rem,10vw,5rem)
}

@keyframes forLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes forRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes fadeIn {
    to{
        opacity: 1;

    }
}

.nav-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-button button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #bae8e8;
    transition: all 0.2s ease-in-out 0s;
}

.nav-button button:hover{
    cursor: pointer;
    background-color: #ffd6e0;
    transform: scale(1.2);
}